<%= form_for(zombie) do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="large-6 column">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="large-6 column">
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </div>

      <div class="large-6 column">
        <%= f.label :age %>
        <%= f.number_field :age %>
      </div>

      <div class="large-6 column">
        <%= f.label :Email %>
        <%= f.text_field :email %>
      </div>

      <div class="large-6 column">
        <%= f.label :Rotten %>
        <%= f.check_box :rotten %>
      </div>

      <div class="large-6 column">
        <%= f.label :Avatar %>
        <%= f.file_field :avatar %>
      </div>
  </div>
      
  <Section class="row">
    <div class="small-4 columns">
      <div class="actions">
        <%= f.submit 'Aceptar',:class => "button round"%>
      </div>
    </div>
  </Section>

<% end %>
