<h1>Zombies</h1>

<table>
  <thead>

    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
      <th>Biografia</th>
      <th>Edad</th>
      <th>Email</th>
      <th>¿Podrido?</th>
      <th>Pertenece a:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= image_tag(zombie.avatar_url, :width=> 75, :height =>75)%></td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "Si":"No" %></td>
        <th><%= zombie.user_id ? User.where(id: zombie.user_id)[0].email : "no tiene dueño" %></th>
        <% if current_user.role != 'Subscriptor'%>
          <td><%= link_to 'Show', zombie, class: 'button'%></td>
          <td><%= link_to 'Edit', edit_zombie_path(zombie), class: 'button success' %></td>
          <% if current_user.role == 'Editor' %>
            <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' } , class: 'button alert'%></td>            
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
