<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <ul>
        <li><%= image_tag 'skullicon.png', class: 'icono'%></li>
        <%if user_signed_in? %>    
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Zombies</a>
                <div class="dropdown-content">
                <%= link_to 'Lista de zombies', zombies_path %>
                <%= link_to 'Nuevo Zombie', new_zombie_path %>
                </div>
            </li>
            <li><%= link_to current_user.email %></li>
            <li><%= link_to 'cerrar sesion', destroy_user_session_path , :method => :delete %></li>
            <li><%= link_to 'editar', edit_user_registration_path %></li>
        <% else %>
            <li><%= link_to 'iniciar sesion', new_user_session_path %></li>
            <li><%= link_to 'editar', new_user_registration_path %></li>
    <% end %>
    </ul>


<% if notice %>
	<p class="alert alert-success">
		<%= notice %>
	</p>
<% end %>
<% if alert %>
	<p class="alert alert-danger">
		<%= alert %>
	</p>
<% end %>

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
